<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>user registration page</title>
    <link rel="shortcut icon" href="{{ STATIC_URL }}ico/jimo_bg-01_144.ico">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-responsive.css">
  </head>
  <body>
  <div class="container">
  <div class="row">
  <div class="span8">
    <h1>Join jimo VPN today.</h1>
  <p>
  <form method="post" action="register">{% csrf_token %}
    <fieldset>
      {{form}}
      <div class="control-group">
        <label class="control-label"></label>
          <div class="controls">
            <button type="submit" class="btn btn-success" >Create My Account</button>
          </div>
      </div>

    </table>
    </fieldset>
  </form>
  </p>
  </div>
  </div>
  </div>
  </body>
</html>
