<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>thanks for registerting jimovpn</title>
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}gangnam_style.css">
	</head>
		<body>
		<h1>Thanks for registering jimovpn</h1>
		<h2>You will received the confirmation email of your registration soon.</h2>
		<h2>Please download openvpn client by clicking the following link:</h2>
		<p><a href="https://www.privatetunnel.com/us/client/privatetunnel.msi">For Windows user</a></p>
		<p><a href="mailto:admin@yifengliu.com?subject=Questions on jimovpn">Email me</a></p>
	</body>

</html>
