<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>user logging page</title>
    <link rel="shortcut icon" href="{{ STATIC_URL }}ico/jimo_bg-01_144.ico">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(function() {
		drawChart(usage, 7);
		document.days.selectdays.options.selectedIndex = 1;
	});

      var usage = {{ data }};

	  function inRange(x, st, ed) {
		return x >= st && x <= ed;
	  }
	  function padZero(s) {
	      if (s.length == 1)
		      return '0' + s;
		  else 
		      return s;
	  }
	  function prepareData(data, interval, points) {
		var bins = prepareBins(data, interval, points);
		for (var i = 0; i < bins.length; i++) {
			var bin_st = bins[i][0];
			var bin_ed = bins[i][0] + interval;
			for (var start_time in usage) {
				var curUsage = usage[start_time];
				var duration = curUsage[0];
				var recv_bytes = curUsage[1];
				var sent_bytes = curUsage[2];
				
				var use_st = parseInt(start_time);
				var use_ed = use_st + duration;
				if (inRange(use_st, bin_st, bin_ed) || inRange(use_ed, bin_st, bin_ed) ||
					inRange(bin_st, use_st, use_ed) || inRange(bin_st, use_st, use_ed) ) { // The usage interval and bin have overlap.
					var overlap_st = Math.max(bin_st, use_st);
					var overlap_ed = Math.min(bin_ed, use_ed);
					var percentage = (overlap_ed - overlap_st) / duration;
					
					bins[i][1] += recv_bytes * percentage / 1024 / 1024;
					bins[i][2] += sent_bytes * percentage / 1024 / 1024;
				}
			}
		}
		// Convert bin timestamps back to date string
		for (var i = 0; i < bins.length; i++) {
			var temp = new Date(bins[i][0] * 1000);
			bins[i][0] = temp.getUTCFullYear().toString() + "-" + 
                  (temp.getUTCMonth() + 1).toString() + "-" +
                  temp.getUTCDate().toString();
				  //+ " " +
                  //padZero(temp.getUTCHours().toString()) + ":" +
                  //padZero(temp.getUTCMinutes().toString()) + ":" +
                  //padZero(temp.getUTCSeconds().toString());
		}
		return bins;
	  }
	  function prepareBins(data, interval, points) {
		var result = [];
		var now = new Date().getTime() / 1000;
		result[points - 1] = [Math.floor(now / interval) * interval, 0, 0];
		for (var i=points - 2; i >=0 ;i--)
			result[i] = [result[i+1][0] - interval, 0, 0];
		return result;
	  }
      function drawChart(data, days) {
        var chart = [['Date', 'Received MB', 'Sent MB']]
		var displayedData = prepareData(data, 86400, days);
        for (var i = 0; i < displayedData.length; ++i) {
          chart[i + 1] = displayedData[i];
        }
		
        var data = google.visualization.arrayToDataTable(chart);

        var options = {
          title: 'User received and sent data'
        };

        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
    <script>
      function dropDownDays(days) {
        if (document.days.selectdays.value != "null") {
          drawChart(usage, days);
        }
      }
    </script>
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/gangnam_style.css">
	</head>
	<body>
		<h1>User Logging Information</h1>
	</body>
  <form name="days">
    <select name="selectdays" onChange="dropDownDays(document.days.selectdays.options[document.days.selectdays.options.selectedIndex].value)">
      <option>select time span</option>
      <option value='7'>7 days</option>
      <option value='15'>15 days</option>
      <option value='30'>1 month</option>
      <option value='90'>3 months</option>
      <option value='180'>6 months</option>
      <option value='365'>1 year</option>
    </select>
  </form>
  <body>
    <div id="chart_div" style="width: 900px; height: 500px;"></div>
  </body>
	<table>
		<tr><th>start_time</th><th>end_time</th><th>remote_ip</th><th>remote_port</th>
			<th>protocol</th><th>vpn_ip</th><th>vpn_netmask</th><th>bytes_received</th>
			<th>bytes_sent</th><th>disconnected</th></tr>
		{% for b in log %}
		<tr><td>{{ b.start_time }}</td><td>{{ b.end_time }}</td><td>{{ b.remote_ip }}</td>
			<td>{{ b.remote_port }}</td><td>{{ b.protocol }}</td><td>{{ b.vpn_ip }}</td>
			<td>{{ b.vpn_netmask }}</td><td>{{ b.bytes_received }}</td>
			<td>{{ b.bytes_sent }}</td><td>{{ b.disconnected }}</td>
		{% endfor %}
	</table>
</html>
