<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>user logging page</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);

      function drawChart(data, days) {
        var chart = [['Month', 'Received Bytes', 'Sent Bytes']]
        for (var i = 0; i < days; ++i) {
          chart[i + 1] = data[i];
        }
        var data = google.visualization.arrayToDataTable([
          ['Month', 'Received Bytes', 'Sent Bytes'],
          ['2004',  1000,      400],
          ['2005',  1170,      460],
          ['2006',  660,       1120],
          ['2007',  1030,      540]
        ]);

        var options = {
          title: 'User received and sent data'
        };

        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
    <script>
      function dropDownDays(days) {
        if (document.days.selectdays.value != "null") {
          drawChart('{{ data }}', days);
        }
      }
    </script>
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/gangnam_style.css">
	</head>
	<body>
		<h1>User Logging Information</h1>
	</body>
  <form name="days">
    <select name="selectdays" onChange="dropDownDays(document.days.selectdays.options[document.days.selectdays.options.selectedIndex].value)">
      <option>select time span</option>
      <option value='7'>7 days</option>
      <option value='15'>15 days</option>
      <option value='30'>1 month</option>
      <option value='90'>3 months</option>
      <option value='180'>6 months</option>
      <option value='365'>1 year</option>
    </select>
  </form>
  <body>
    <div id="chart_div" style="width: 900px; height: 500px;"></div>
  </body>
	<table>
		<tr><th>start_time</th><th>end_time</th><th>remote_ip</th><th>remote_port</th>
			<th>protocol</th><th>vpn_ip</th><th>vpn_netmask</th><th>bytes_received</th>
			<th>bytes_sent</th><th>disconnected</th></tr>
		{% for b in log %}
		<tr><td>{{ b.start_time }}</td><td>{{ b.end_time }}</td><td>{{ b.remote_ip }}</td>
			<td>{{ b.remote_port }}</td><td>{{ b.protocol }}</td><td>{{ b.vpn_ip }}</td>
			<td>{{ b.vpn_netmask }}</td><td>{{ b.bytes_received }}</td>
			<td>{{ b.bytes_sent }}</td><td>{{ b.disconnected }}</td>
		{% endfor %}
	</table>
</html>
