<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>user management page</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
		<script>
			function enable_disable (id) {
				$.ajax({
					url: "/user/enable_disable",
					data: { id: id }
					}).success(refresh_element);
			}
			function refresh_element () {
				history.go(0);
			}
		</script>
		<script>
			function confirm_enable_disable(id) {
				var answer = confirm("Do you want to change this client's enabled status?");
				if (answer) {enable_disable(id)}
			}
		</script>
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}gangnam_style.css">
	</head>
	<body>
		<h1>User Data Management</h1>
	</body>
	<table>
		<tr><th>username</th><th>active</th><th>ctime</th><th>mtime</th><th>email</th>
			<th>note</th><th>quota_cycle</th><th>quota_bytes</th><th>enabled</th></tr>
		{% for b in obj %}
		<tr><td>{{ b.username }}</td><td>{{ b.active }}</td><td>{{ b.ctime }}
			</td><td>{{ b.mtime }}</td><td>{{ b.email }}</td><td>{{ b.note }}</td>
			<td>{{ b.quota_cycle }}</td><td>{{ b.quota_bytes }}</td><td>{{ b.enabled }}</td>
			<td><button onclick="confirm_enable_disable( {{ b.id }} )">Enable/Disable</button>
			<td><button onclick="window.location.href='/user/user_log?id='+{{ b.id }}">show log</button>
		{% endfor %}
	</table>
</html>
