body {
        background-color:#d0e4fe;
}

h1 {
        color:orange;
        text-align:center;
}

h2 {
	color:black;
	font-size:20px;
}

p {
        font-family:"Times New Roman";
        font-size:20px;
        margin-left: auto;
        margin-right: auto;
}

form {
        padding:auto;
}
